## Проект 3. О вкусной и здоровой пище

In [147]:
import re
import numpy as np
import pandas as pd
from datetime import datetime as dt
import collections

In [148]:
data = pd.read_csv('main_task.csv')

In [149]:
print(data.columns)
data.describe()

Index(['Restaurant_id', 'City', 'Cuisine Style', 'Ranking', 'Rating',
       'Price Range', 'Number of Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

            Ranking        Rating  Number of Reviews
count  40000.000000  40000.000000       37457.000000
mean    3676.028525      3.993037         124.825480
std     3708.749567      0.668417         295.666352
min        1.000000      1.000000           2.000000
25%      973.000000      3.500000           9.000000
50%     2285.000000      4.000000          33.000000
75%     5260.000000      4.500000         115.000000
max    16444.000000      5.000000        9660.000000

In [150]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [151]:
# data['City'].value_counts()
data['Cuisines'] = data['Cuisine Style'].apply(lambda x: len(x.strip('[]').split(', ')) if x is not np.nan else 1)

In [152]:
date_ptn = re.compile('\'\d+/\d+/\d+\'?')
data['Review dates'] = data['Reviews'].apply(lambda x: [dt.strptime(item, "'%m/%d/%Y'") for item in date_ptn.findall(x)])
data['Review DD'] = data['Review dates'].apply(lambda x: (x[0] - x[1]).days if len(x) >1 else 0)

In [161]:
data[['City', 'Ranking', 'Rating','Price Range', 'Number of Reviews']].head(50)

          City  Ranking  Rating Price Range  Number of Reviews
0        Paris   5570.0     3.5    $$ - $$$              194.0
1    Stockholm   1537.0     4.0         NaN               10.0
2       London    353.0     4.5        $$$$              688.0
3       Berlin   3458.0     5.0         NaN                3.0
4       Munich    621.0     4.0    $$ - $$$               84.0
5       Oporto   1419.0     3.0         NaN                2.0
6        Milan   1722.0     4.0           $               50.0
7   Bratislava    826.0     3.0         NaN                9.0
8       Vienna   2692.0     4.0         NaN                NaN
9         Rome   4210.0     4.0           $               55.0
10   Barcelona   6579.0     3.0         NaN                6.0
11      London   5321.0     4.0    $$ - $$$               42.0
12      London   4073.0     3.5    $$ - $$$              286.0
13      Berlin   4639.0     4.5    $$ - $$$               10.0
14      Madrid   4776.0     4.0    $$ - $$$                7.0
15      Dublin   1405.0     4.0    $$ - $$$               28.0
16      Berlin   5259.0     4.0         NaN                3.0
17      London  11131.0     4.5    $$ - $$$                7.0
18      Berlin   3129.0     4.0    $$ - $$$               12.0
19    Brussels   2792.0     3.0    $$ - $$$               12.0
20      Munich    370.0     5.0    $$ - $$$               27.0
21      Madrid   5847.0     4.0         NaN                NaN
22      London  13026.0     3.5    $$ - $$$               52.0
23      Zurich     73.0     4.0    $$ - $$$              371.0
24      London  14984.0     3.0           $               18.0
25      Warsaw   1077.0     5.0           $                2.0
26      Madrid   2765.0     5.0         NaN               11.0
27    Budapest   2109.0     3.5         NaN                2.0
28       Paris  10059.0     4.5         NaN                4.0
29      Madrid   8356.0     2.5         NaN               16.0
30  Copenhagen   1846.0     3.0         NaN               16.0
31   Amsterdam   2011.0     4.5    $$ - $$$               15.0
32    Budapest   1328.0     5.0         NaN                NaN
33        Lyon   2435.0     3.0         NaN                4.0
34        Rome   2428.0     4.5           $               69.0
35      Madrid   2047.0     4.5    $$ - $$$               20.0
36       Milan   5845.0     3.0    $$ - $$$              104.0
37        Rome   5210.0     5.0    $$ - $$$                2.0
38       Paris  11293.0     4.5    $$ - $$$               10.0
39       Milan   3133.0     4.0         NaN                7.0
40      Madrid   2713.0     4.5           $                9.0
41       Paris   5460.0     3.5    $$ - $$$              132.0
42     Hamburg    165.0     4.5    $$ - $$$               73.0
43       Paris   9926.0     3.5           $               39.0
44      Lisbon   2195.0     4.0         NaN                7.0
45      London  11955.0     4.0         NaN                3.0
46      Madrid   8467.0     2.0         NaN                4.0
47    Brussels     76.0     4.0    $$ - $$$              484.0
48   Barcelona   2099.0     4.0           $               41.0
49       Paris   1049.0     4.5        $$$$              281.0

In [2]:
def split_string(string):
    return string.replace('[]', '').replace("'", '').split(', ')

cuisine_styles = data[data['Cuisines'] == data['Cuisines'].max()]['Cuisine Style'].values[0].strip("[]").split(', ')
selected_cuisines = collections.Counter()
cuisine_series = data[data['Cuisine Style'].notna()]['Cuisine Style']
for row in cuisine_series:
    for cuisine in split_string(row):
        selected_cuisines[cuisine] += 1

selected_cuisines = {'Cuisine ' + k: v  for k, v in sorted(selected_cuisines.items(), key=lambda item: item[1])}
selected_cuisines = dict(filter(lambda x: True if x[1] > 500 else False, selected_cuisines.items()))

NameError: name 'data' is not defined

In [155]:
def assign_values(values):
    existing = selected_cuisines.copy()

    for key, val in existing.items():
        existing[key] = 1 if values is not np.nan and key[8:] in split_string(values) else 0

    return list(existing.values())

# cuisines = pd.DataFrame(columns=['Restaurant_id'] + list(selected_cuisines.keys()))
# for row in data[['Restaurant_id', 'Cuisine Style']].loc:
#     cuisines.loc[row.name] = [row['Restaurant_id']] + assign_values(row['Cuisine Style'])
# cuisines.to_csv('cuisines.csv')

In [156]:
ratings = pd.read_csv('data_loaded.csv', index_col=[0])
cuisines = pd.read_csv('cuisines.csv', index_col=[0])

In [157]:
data_ratings = data.merge(ratings, on=data.index)

In [158]:
data_ratings.drop(['Restaurant_id_x', 'Restaurant_id_y', 'key_0'], axis=1, inplace=True)
full_data = data_ratings.merge(cuisines, on=data_ratings.index)

In [159]:
full_data.drop('key_0', axis=1, inplace=True)

In [160]:
full_data.to_csv('full.data.csv')